body {
  font-family: "SourceCodeProRegular", monospace;
  font-size: 1.0em;
  color: #8f3;
  background-color: black;
  text-shadow: 0px 0px 10px rgba(30,140,0,1), 0px 0px 10px rgba(30,140,0,1);
  background-image: url('/img/back.png');
}

.hideDefault {
  display: none;
}

input, textarea, select {
  font-family:inherit;
  font-size: inherit;
  color: inherit;
  background-color: black;
  border: 1px solid #4f1;
  text-shadow: inherit;
}

b, h2, h1, h3 {
  font-family: "SourceCodeProBold", monospace;
}

.red {
  color: #f22;
  text-shadow: 0px 0px 20px rgba(140,5,0,1), 0px 0px 20px rgba(140,5,0,1), 0px 0px 20px rgba(140,5,0,1), 0px 0px 20px rgba(140,5,0,1), 0px 0px 20px rgba(140,5,0,1);
}

.dim {
  color: #161;
  text-shadow: 0px 0px 10px rgba(20,90,20,1);
}

.garbageContainer {
  /*height: 60px;*/
  overflow: hidden;
  margin: 12px 0;
  /*float: left;*/
  /*width: 120px;*/
}

a {
  color: #3bf;  
  text-shadow: 0px 0px 12px rgba(0,100,255,1), 0px 0px 12px rgba(0,100,255,1), 0px 0px 12px rgba(0,100,255,1);
  text-decoration: none;
}

a:hover {
  color: #cff; 
  text-shadow: 0px 0px 10px rgba(240,240,255,1),  0px 0px 10px rgba(240,240,255,1),  0px 0px 30px rgba(0,150,255,1),  0px 0px 30px rgba(0,150,255,1);
}

.puzzleGraphBox {
  text-align: center;
  border: 1px solid;
  position: absolute;
  width: 110px;
  float: left;
  padding: 4px;
  background-color: black;
  font-size: 10pt;
}

.boxblue {
  color: #3bf;    
  text-shadow: 0px 0px 12px rgba(0,100,255,1), 0px 0px 12px rgba(0,100,255,1), 0px 0px 12px rgba(0,100,255,1);
  box-shadow: 0px 0px 8px rgba(30,130,255,1), 0px 0px 8px rgba(30,130,255,1), 0px 0px 16px rgba(0,0,255,1);
}

.boxblue:hover {
  color: #cff; 
  text-shadow: 0px 0px 10px rgba(240,240,255,1),  0px 0px 10px rgba(240,240,255,1),  0px 0px 30px rgba(0,150,255,1),  0px 0px 30px rgba(0,150,255,1);
  box-shadow: 0px 0px 4px rgba(240,240,255,1),  0px 0px 4px rgba(240,240,255,1),  0px 0px 12px rgba(0,150,255,1),  0px 0px 12px rgba(0,150,255,1),  0px 0px 20px rgba(0,150,255,1);
}

.boxred {
  color: #f22;
  text-shadow: 0px 0px 20px rgba(140,5,0,1), 0px 0px 20px rgba(140,5,0,1), 0px 0px 20px rgba(140,5,0,1), 0px 0px 20px rgba(140,5,0,1), 0px 0px 20px rgba(140,5,0,1);
  box-shadow: 0px 0px 8px rgba(140,5,0,1), 0px 0px 8px rgba(140,5,0,1), 0px 0px 8px rgba(140,5,0,1);
}

.boxred:hover {
  color: #f84; 
  text-shadow: 0px 0px 20px rgba(140,5,0,1), 0px 0px 20px rgba(140,5,0,1), 0px 0px 20px rgba(140,5,0,1), 0px 0px 20px rgba(140,5,0,1), 0px 0px 20px rgba(140,5,0,1), 0px 0px 30px rgba(140,5,0,1), 0px 0px 30px rgba(140,5,0,1);
  box-shadow: 0px 0px 8px rgba(255,5,0,1), 0px 0px 8px rgba(255,5,0,1), 0px 0px 8px rgba(255,5,0,1), 0px 0px 8px rgba(255,5,0,1), 0px 0px 16px rgba(255,5,0,1),0px 0px 16px rgba(255,5,0,1);
}

.boxgreen {
  color: #8f3;
  text-shadow: 0px 0px 10px rgba(30,140,0,1), 0px 0px 10px rgba(30,140,0,1);
  box-shadow: 0px 0px 6px rgba(30,140,0,1), 0px 0px 6px rgba(30,140,0,1);
}

.boxgreen:hover {
  color: #af4;
  text-shadow: 0px 0px 10px rgba(30,255,0,1), 0px 0px 10px rgba(30,255,0,1), 0px 0px 10px rgba(30,255,0,1);
  box-shadow: 0px 0px 10px rgba(30,255,0,1), 0px 0px 10px rgba(30,255,0,1), 0px 0px 10px rgba(30,255,0,1);
}

.boxwhite {
  color: #ccc;
  text-shadow: 0px 0px 10px rgba(100,100,100,1), 0px 0px 10px rgba(100,100,100,1), 0px 0px 10px rgba(100,100,100,1);
  box-shadow: 0px 0px 10px rgba(100,100,100,1), 0px 0px 10px rgba(100,100,100,1), 0px 0px 10px rgba(100,100,100,1);
}

.boxwhite:hover {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(255,255,255,1), 0px 0px 10px rgba(255,255,255,1), 0px 0px 10px rgba(255,255,255,1);
  box-shadow: 0px 0px 10px rgba(255,255,255,1), 0px 0px 10px rgba(255,255,255,1), 0px 0px 10px rgba(255,255,255,1);
}

.grayBox, .grayBox:hover {
  color:#666;
  text-shadow: 0px 0px 10px rgba(255,255,255,1);
  padding-bottom:0;
  box-shadow: 0px 0px 6px rgba(255,255,255,0.3);
}

.questionMark {
  font-size:24pt;
  width: 100%;
  margin-bottom: -3px;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.5);
}

.puzzleName {
  margin: 4px 0;
}

.solved {
  font-size: 16pt;
}

.metaBox {
  border-width: 4px;
  border-style: double;
}

.govt {
  text-shadow: none;
  color: black;
  background-image: url('/img/govtbackground.jpg');
  background-repeat: repeat-x;
  background-color: black;
  font-family: 'Times New Roman', serif;
  height: 100%;
}

.govt p, .govt h1, .govt h2, .govt h3, .govt div, .govt span {
  font-family: 'Arial', sans-serif;
}

.govtContainer {
  background-color: white;
}

.puzzleBodyContainer {
  padding: 10px;
}

.puzzleBodyContainer a {
  color: blue;
  text-shadow: none;
}

.puzzleBodyContainer a:hover {
  color: blue;
  text-shadow: none;
}

.govtHeader {
  font-weight: bold;
  background-image: url('/img/govtheader.png');
  height: 60px;
}

.govtWarningText {
  font-weight: bold;
  font-size: 12pt;
  padding: 10px;
}

.govtHeaderText {
  font-size: 22pt;
  padding: 12px 0 0 110px;
  color: white;
}