<a data-bind="visible: !showQuestion()" href="<%= god_url %>">Back to God home</a>
<h1>Question submission queue</h1>
<p data-bind="visible: !showQuestion()">There are currently <span id="numquestions" data-bind="text: numQuestions"><%= @num_questions %></span> questions that need response!</p>
<div data-bind="visible: !showQuestion() && numQuestions() != '0'"><a data-bind="click: dequeue" href="#">Respond to a question</a></div>
<div data-bind="visible: showProcessing()">Processing...</div>
<div id="callInCont" data-bind="visible: showQuestion()" class="hideDefault">
  <div>Question from team <b data-bind="text: teamName"></b></div>
  <div>Question text:
    <p data-bind="text: questionText"></p>
  </div>
  <div>Notes about this question: (you can add to these and it will show this for anyone else who looks at this question if you put it back in the queue. This is good for bizarre situations that need the attention of other people)
    <p><textarea data-bind="value: questionNotes" rows="6" cols="80"></textarea></p>
  </div>
  <div>Team's phone number: <b data-bind="text: phoneNum"></b></div>
  <p>Correct procedure: call the team at their listed phone number here. Ask if it is team "<span data-bind="text: teamName"></span>". Tell them any information that they need or perform procedures they ask. Afterward, click one of the buttons below.</p>
  <p>If you cannot call the team right now, you must click the button to return this question back to the queue so another person can answer their question or perform a procedure for them.</p>
  <div><a href="#" data-bind="click: respondAnswered">This question has been RESOLVED and no one else needs to look at it</a></div>
  <div><a href="#" data-bind="click: respondNeedsAttention">This question has NOT BEEN RESOLVED and needs further attention (use the notes field above to describe situation)</a></div>
  <!-- <div><a href="#" data-bind="click: respondCorrect">This answer is CORRECT and this call-in should be removed from the queue</a></div>
  <div><a href="#" data-bind="click: respondIncorrect">This answer is INCORRECT and this call-in should be removed from the queue</a></div>
  <div><a href="#" data-bind="click: respondRequeue">I cannot respond right now, this call-in should be readded to the queue</a></div> -->
</div>

<%= render "shared/js_link", :src => "knockout-2.2.1" %>
<%= render "shared/js_link", :src => "qqueue" %>